// DEFINE CONTAINER PADDING (p*) AND MARGINS (m*)
$padding-x: 15px;
$padding-y: 0px;
$margin-x: auto;
$margin-y: 0px;

@mixin container {
  height: auto;

  padding: $padding-y $padding-x;
  margin: $margin-y $margin-x;

  @media (min-width: 320px)  { width: calc(310px - #{$padding-x}); }
  @media (min-width: 480px)  { width: calc(465px - #{$padding-x}); }
  @media (min-width: 768px)  { width: calc(750px - #{$padding-x}); }
  @media (min-width: 992px)  { width: calc(970px - #{$padding-x}); }
  @media (min-width: 1200px) { width: calc(1170px - #{$padding-x}); }
  @media (min-width: 1500px) { width: calc(1250px - #{$padding-x}); }
}


.container {
  @include container;
}

