$hero-img-url: '../assets/images/hero-solo3.jpg';

.hero {
  // SIZING
  width: 100vw;
  height: calc(100vh - 120px);
  z-index: 1;
  overflow: hidden;

  // DISPLAY
  display: flex;
  justify-content: center;
  align-items: center;

  // TEXT STYLING
  text-align: center;

  // BACKGROUND STYLING
  background-image: linear-gradient(
    rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
    url($hero-img-url);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  // HEADER STYLING
  h1 {
    @include font( "script", $weight: 400);
    font-size: 5em !important;
    color: $color-white !important;
  }

  // PARAGRAPH STYLING
  p {
    @include font( "script", $weight: 400);
    font-size: 1.5em !important;
    letter-spacing: 0.5em !important;
    color: $color-white !important;
  }

  // LINKS STYLING
  a {
    font-family: $font-code;
    text-decoration: none;
    color: $color-terra;
    padding: 0 10px;

    &:hover {
      opacity: 0.75;
    }
  }
}

