$main-font-color: $light-shade;
$link-font-color: $light-shade;

.hero {
  // SIZING
  width: 100vw;
  height: 100vh;

  // DISPLAY
  display: flex;
  justify-content: center;
  align-items: center;

  // TEXT STYLING
  text-align: center;

  // BACKGROUND STYLING
  background-image: linear-gradient(
    rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
    url('../assets/images/hero-img.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  // HEADER STYLING
  h1 {
    font-size: 5em !important;
    color: $main-font-color !important;
  }

  // PARAGRAPH STYLING
  p {
    font-size: 1.5em !important;
    letter-spacing: 0.5em !important;
    color: $main-font-color !important;
  }

  // LINKS STYLING
  a {
    text-decoration: none;
    color: $link-font-color;
    padding: 0 10px;

    &:hover {
      opacity: 0.75;
    }
  }
}

