@import 'components';
@import 'particles';
@import 'navigation';
@import 'education';
@import 'experience';

.resume-header {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2rem;
}
