// SHARED
.navbar {
  // POSITIONING
  box-sizing: border-box;  // else will be larger than parent
  height: 60px; width: 100%;
  padding: 0 15px;
  overflow: hidden;
  display: flex;
  flex-direction: row;

  // STYLE
  background-color: $dark-shade;
  color: $light-accent;

  a {
    text-decoration: none;
    color: $light-shade;
  }

  a:hover {
    opacity: 0.75;
  }
}

// HEADER
.header {
  justify-content: space-between;
  align-items: center;
  font-size: 20px;

  a.brand {
    text-decoration: none;
    color: $light-shade;
    font-size: 20px;
  }
}

// FOOTER
.footer {
  justify-content: center;
}
