// SHARED
.navbar {
  height: auto;
  width: 100%;
  overflow: hidden;
  display:  block;

  background-color: $dark-shade;

  a {
    text-decoration: none;
    color: $light-shade;
  }

  a:hover {
    opacity: 0.75;
    // color: $dark-accent;
  }
}

// HEADER
.header {
  // z-index: 2;
  // position: fixed;
  // opacity: 0.5;
  // top: 0;
  // left: 0;
}

// FOOTER
.footer {
}
