// SHARED
.navbar {
  height: auto;
  overflow: hidden;

  background-color: $dark-accent;

  a {
    text-decoration: none;
    color: $light-shade;

  }
  a:hover {
    opacity: 0.75;
  }
}

// HEADER
.header {

}

// FOOTER
.footer {

}
