.edu-card {
  margin: 0 0.25rem;
  padding: 0 0.25rem;

  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto 1fr;
  gap: 0px 10px;
  grid-template-areas:
  'degree  date'
  'school  school'
  'content content';
}

.edu-degree {
  grid-area: degree;
  justify-self: start;

  font-weight: bold;
  text-transform: uppercase;

  .edu-focus {
    text-transform: none;
    font-variant: small-caps;
  }
}
.edu-date {
  grid-area: date;
  justify-self: end;
  text-align: right;
}
.edu-school {
  grid-area: school;
  justify-self: start;

  text-transform: uppercase;

  .edu-location {
    text-transform: none;
    font-variant: small-caps;
  }
}
.edu-content {
  grid-area: content;
  justify-self: start;

  padding-top: 2.5px;

  ul {
    list-style-type: none;
    list-style-position: outside;
    counter-reset: li;
    counter-reset: li-sub;

    margin: 0;
    padding: 0 0.5em;
  }
  li.bullet:before {
    content: "\00BB \0020";
    padding-right: 0.5em;
  }
  li.sub-bullet:before {
    content: "-";
    margin-left: 1.5em;
    padding-right: 0.5em;
  }
  li.number:before {
    counter-increment: li;
    content: counter(li)':';
    padding-right: 0.5em;
  }
  li.sub-number:before {
    counter-increment: li-sub;
    content: counter(li-sub)':';

    margin-left: 1.5em;
    padding-right: 0.5em;
  }
}
