.exp-card {
  margin: 1rem 0.25rem;
  padding: 0 0.25rem;

  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: auto 1fr;
  gap: 0px 10px;
  grid-template-areas:
  'position    date'
  'company     company'
  'description description'
  'content     content';
}

.exp-position {
  grid-area: position;
  justify-self: start;

  text-transform: uppercase;
  font-weight: bold;
}
.exp-dates {
  grid-area: date;
  justify-self: end;
  text-align: right;

  text-transform: uppercase;
}
.exp-company {
  grid-area: company;
  justify-self: start;

  text-transform: uppercase;
  font-style: italic;

  .exp-location {
    text-transform: none;
    font-variant: small-caps;
  }
}
.exp-description {
  grid-area: description;
  justify-self: start;

  padding: 0 0.5em;

  font-style: italic;
}
.exp-content {
  grid-area: content;

  padding-top: 2.5px;

  p {
    margin: 0;
    padding: 0;
  }
  ul {
    list-style-type: none;
    list-style-position: outside;
    counter-reset: li;
    counter-reset: li-sub;

    margin: 0;
    padding: 0 0.5em;
  }
  li.bullet, li.number {
    text-indent: -1.5em;
  }
  li.sub-bullet, li.sub-number {
    text-indent: -3.0em;
  }
  li.description:before {
    padding-right: 0.5em;
  }
  li.bullet:before {
    content: "\00BB \0020";
    padding-right: 0.5em;
  }
  li.sub-bullet:before {
    content: "-";
    margin-left: 1.5em;
    padding-right: 0.5em;
    text-indent: -3.0em;
  }
  li.number:before {
    counter-increment: li;
    content: counter(li)':';
    padding-right: 0.5em;
  }
  li.sub-number:before {
    counter-increment: li-sub;
    content: counter(li-sub)':';

    margin-left: 1.5em;
    padding-right: 0.5em;
    text-indent: -3.0em;
  }
}
