.exp-card {
  margin: 0 0.25rem;
  padding: 0 0.25rem;

  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: auto 1fr;
  gap: 0px 10px;
  grid-template-areas:
  'position    date'
  'company     company'
  'description description'
  'content     content';
}

.exp-position {
  grid-area: position;
  justify-self: start;

  text-transform: uppercase;
  font-weight: bold;
}
.exp-date {
  grid-area: date;
  justify-self: end;
  text-align: right;

  text-transform: uppercase;
}
.exp-company {
  grid-area: company;
  justify-self: start;

  text-transform: uppercase;
  font-style: italic;

  .exp-location {
    text-transform: none;
    font-variant: small-caps;
  }
}
.exp-description {
  grid-area: description;
  justify-self: start;

  padding: 0 0.5em;

  font-style: italic;
}
.exp-content {
  grid-area: content;

  padding-top: 2.5px;

  p {
    margin: 0;
    padding: 0;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0 0.5em;
  }
  li:before {
    content: "\00BB \0020";
    padding-right: 0.5em;
  }
}
