@import 'education';
@import 'experience';
@import 'projects';
@import 'volunteer';
@import 'publications';
@import 'organizations';
@import 'technical_skills';

// SHARED COMPONENTS
.resume-header {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2rem;
}
