.cf-container {
  margin: 0 0.25rem;
  padding: 0 0.25rem;

  display: grid;
  grid-template-rows: auto auto auto auto auto;
  grid-template-columns: 1fr 1fr;
  gap: 0;
  grid-template-areas:
  'first   last'
  'email   email'
  'subject subject'
  'message message'
  'button  button';
}
.cf-first { grid-area: first; }
.cf-last { grid-area: last; }
.cf-email { grid-area: email; }
.cf-subject { grid-area: subject; }
.cf-message { grid-area: message; }
.cf-button { grid-area: button; }

textarea {
  min-height: 200px;
}

.cf-item {
  width: 100%;
  padding:1.0em 0.5em;

  color: white;
  background-color: transparent;

  border-radius: 0;
  border: solid 1px #b3aca7;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

.cf-item:hover {
  color: black;
  background-color: lightgrey;
}

#submit {
  border-bottom: solid 1px #b3aca7;
}
