.contact-socials {
  margin: 0 0.25rem;
  padding: 0 0.25rem;

  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: center;

  a > .fab {
    text-decoration: none;
    margin: 0 0.5em;

    color: white;
    font-size: 50px;
    opacity: 0.5;
  }
  a > .fab:hover {
    opacity: 0.8;
  }
}



