$form-width: calc(100% - 50px);
$form-font: $font-code;

$form-bg: transparent;
$form-border: $color-liver;

$font-color: $color-liver;
$font-color-ph: $color-sage;

$form-hover: $color-sage;
$font-hover: $color-white;
$font-hover-ph: $color-white;

$form-btn-color: $color-terra;
$form-btn-border: $color-terra;
$form-btn-font: $color-white;

.contact-content {
  #form {
    position: relative;
    width: $form-width;
    margin: 25px auto;
  }

  // INPUTS
  input {
    width: 100%;
    height: 50px;
    padding: 0px 15px 0px 15px;
    
    // DISPLAY
    color: $font-color;
    background-color: $form-bg;
    border: solid 2px $form-border;
    border-bottom: none;
    font-family: $form-font;

    // PLACEHOLDER
    &::placeholder {
      color: $font-color-ph;
      font-family: $form-font;
    }

    // HOVER
    &:hover {
      color: $font-hover;
      background-color: $form-hover;

      // PLACEHOLDER
      &::placeholder {
        color: $font-hover-ph;
        font-family: $form-font;
      }
    }
  }

  // INPUT: TEXTAREA
  textarea {
    width: 100%; max-width: 100%;
    height: 150px; max-height: 250px;
    padding: 15px;

    color: $font-color;
    background-color: $form-bg;
    border: solid 2px $form-border;
    font-family: $form-font;

    // PLACEHOLDER
    &::placeholder {
      color: $font-color-ph;
      font-family: $form-font;
    }

    // HOVER
    &:hover {
      color: $font-hover;
      background-color: $form-hover;

      // PLACEHOLDER
      &::placeholder {
        color: $font-hover-ph;
        font-family: $form-font;
      }
    }
  }
  
  // SUBMIT BUTTON
  #submit {
    box-sizing: content-box;
    width: 100%;

    font-family: $form-font;
    letter-spacing: 0.5rem;
    color: $form-btn-font;
    background-color: $form-btn-color; opacity: 0.75;
    border: solid 2px $form-btn-border;
  }

  #submit:hover {
    opacity: 1;
  }
}
