// DEFINE VARIABLES FOR COLOR SCHEME
$light-shade: #FBF9F9;
$light-accent: #8EA7AF;
$main-brand: #008B8B;
$dark-accent: #A15155;
$dark-shade: #2B2E2F;

.light-shade { color: $light-shade; }
.light-accent { color: $light-accent; }
.main-brand { color: $main-brand; }
.dark-shade { color: $dark-shade; }
.dark-accent { color: $dark-accent; }
