// IMPORT GOOGLE FONTS
@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Roboto+Slab&display=swap');

// DEFINE FONTS FOR HEADERS AND BODY
@mixin font-header {
  font-family: "Questrial", "Roboto", "sans-serif";
  font-weight: 300;
  font-size: 40px;
  line-height: 41px;
  text-transform: uppercase;
}

@mixin font-body {
  font-family: "Alegreya", "Roboto Slab", "serif";
  font-style: normal;
  font-size: 20px;
}

// DEFINE OTHER FONT CLASSES
.font-center { text-align: center; }
.font-right { text-align: right; }
.font-left { text-align: left; }
.font-justify { text-align: justify; }
