// IMPORT GOOGLE FONTS
  // HEADER FONT
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,400;0,700;0,900;1,400&display=swap');
  // BODY FONT 
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400&display=swap');
  // CODE FONT 
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;0,700;1,400&display=swap');
  // SCRIPT FONT
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');


// DECLARE FONT VARIABLES
$font-header: "Alegreya Sans", "Roboto Condensed", sans-serif;
$font-body: "Source Sans Pro", "Roboto Slab", serif;
$font-code: "Source Code Pro", "Roboto Mono", monospace;
$font-script: "Architects Daughter", "Alegreya Sans", sans-serif;

$font-families: ( 
  "header": $font-header, 
  "body": $font-body, 
  "code": $font-code, 
  "script": $font-script
);

// DEFINE FONT MIXIN
@mixin font ( $family, $size: 18px, $weight: 400, $style: normal, $transform: none ) {

  font-family: map-get($font-families, $family);
  font-size: $size;
  font-weight: $weight;  // 400 or 700 or 900 if header
  font-style: $style;  // normal or italic (400 weight)
  text-transform: $transform;  // none, uppercase, lowercase, capitalize
}


// @mixin font-style ($weight, $style , $transform) {
// }


// @mixin font-header ( $weight: 400, $style: normal, $transform: none ) {
//   font-family: $font-header;

//   @if $weight = 400 {
//     @include font-styling( $weight, $style, $transform );
//   }


// }


@mixin font-header {
  font-family: $font-header;
  font-weight: 400;
  font-size: 50px;
  line-height: 51px;
  text-transform: uppercase;
}
.font-header { 
  @include font-header; 

  .font-reg { font-weight: 400; }
  .font-italic { font-style: italic; }
  .font-bold { font-weight: 700; }
}

@mixin font-body {
  font-family: $font-body;
  font-weight: 400;
  font-size: 18px;
}
.font-body { 
  @include font-body; 

  .font-reg { font-weight: 400; }
  .font-italic { font-style: italic; }
  .font-bold { font-weight: 700; }
}

@mixin font-code {
  font-family: $font-code;
  font-weight: 400;
  font-size: 18px;
}
.font-code { @include font-code; }

@mixin font-script {
  font-family: $font-script;
  font-weight: 400;
  font-size: 50px;
  line-height: 51px;
  text-transform: uppercase;
}
.font-script { @include font-script; }

// DEFINE MISC FONT CLASSES
.font-center { text-align: center; }
.font-right { text-align: right; }
.font-left { text-align: left; }
.font-justify { text-align: justify; }

.font-italic { font-style: italic; }
.font-bold { font-style: bold; }
.font-400 { font-weight: 400; }

