.about-container {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
    'img content'
    'links content';

    .about-img {
      grid-area: img;
    }
    .about-links {
      grid-area: links;

      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: flex-start;
    }
    .about-content {
      grid-area: content;
    }
}
