$img-size: 200px;

.about-img {
  position: relative;
  height: $img-size;
  width: $img-size;
  overflow: hidden;

  // CENTER IMAGE
  margin: 0 auto;

  // MAKES IMAGE ROUND
  border-radius: 50%;

  img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
  }

  img.portrait {
    width: 100%;
    height: auto;
  }
}
