// MODAL STYLING
.modal {}

// MODAL CONTENT STYLING
.modal-content {
  object {
    height: 600px; // NEEDS TO BE RESPONSIVE
    width: 100%;
    overflow: hidden;
  }
}

.close {}
.close:hover,
.close:focus {}
