// OVERLAY POSITIONING
.work-card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 0.25em;

  .work-img { }
  .work-info {
    position: absolute;
    text-align: center;
  }
}

// SIZING & STYLING
.work-img {
  opacity: 0.75;
}

.work-info {
  padding: 0.25em 0.5em;

  color: transparent;
  font-family: $header-font;
  text-transform: uppercase;

  h3 {
    font-size: 1.5em;
  }
  p {
    font-size: 1.0em;
    max-height: 50px;
    overflow: hidden;
  }
}

.work-card:hover {
  .work-img {
    opacity: 0.25;
  }
  .work-info {
    color: $main-brand;
  }
}
