$num_cols: 3;

$projs_height: 600px;
$height: 300px; $width: 300px;

.portfolio-projects {
// POSITIONING
  height: $projs_height; width: auto;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;

// STYLING
}

.proj {
// POSITIONING
  position: relative;
  width: $height; height: $width;

  &.single { flex-grow: 1; }
  &.expanded { flex-grow: 2; }

// STYLING
  a {
// POSITIONING
// STYLING
    text-decoration: none;
  }
}
img.proj-img {
  display: block;
  height: 100%; width: 100%;
  object-fit: cover;
}
.proj-content {
// POSITIONING
  height: 90%; width: 90%;
  position: absolute;
  bottom: 5%; left: 5%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;

// STYLING
  opacity: 0;
  text-align: center;

  &:hover {
    opacity: 1;
    background-color: $main-brand;
  }
}
.proj-title {
// POSITIONING
// STYLING
  @include font-header;
  color: $light-shade;
}
.proj-keywords {
// POSITIONING
  display: none;
// STYLING
  @include font-aside;
  color: $light-shade;
}
.proj-desc {
// POSITIONING
// STYLING
  @include font-aside;
  color: $light-shade;
}
