.no-space { margin: 0; padding: 0; }

.proj-modal .proj-item {
  // POSITIONING  
  height: auto; width: 100%;

  // STYLING
}
.proj-header {}
.proj-header .proj-id { display: none; }
.proj-header img.proj-img {
  display: block;
  height: 250px; width: 100%;
  object-fit: cover;
}
.proj-header .proj-title {
  // POSITIONING
  height: auto; width: 100%;

  // STYLING
  @include font-header;
  text-align: center;
  letter-spacing: 10px;
}

.proj-content {}
.proj-content .proj-desc {
  // POSITIONING
  margin: 10px auto;
  text-align: center;

  // STYLING
  @include font-aside;
}
.proj-content .proj-link {
  // POSITIONING
  width: 100%;
  text-align: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;

  // STYLING
  @include font-aside;
  font-size: 15px;
}


// .proj-modal .proj-item {
//   box-sizing: border-box;  // else will be larger than parent
//   position: relative;
//   height: $height; width: $width;
//   padding: $pad-y $pad-x;
//   margin: 15px 0;
// }

// .proj-modal .proj-id {
//   position: absolute;
//   right: $pad-x; top: $pad-y;
// }
// .proj-modal .proj-title {
//   position: absolute;
//   left: $pad-x; top: calc(15px + #{$pad-y});
//   height: 30%; max-width: 50%;
// }
// .proj-modal .proj-desc {
//   position: absolute;
//   left: $pad-x; bottom: $pad-y;
//   min-height: 60%; 
//   max-width: calc(100% - calc(65% + calc(#{$pad-xx} + calc(#{$pad-x} * 2))));
// }
// .proj-modal .proj-link {
//   position: absolute;
//   right: calc(#{$pad-x} + 17.5%); bottom: $pad-y;
//   max-height: 25%; width: 30%;
//   padding: 5px 0;

//   a {}
// }
// .proj-modal .proj-img {
//   position: absolute;
//   right: $pad-x; bottom: calc(#{$pad-y} * 1.5);
//   height: auto; width: 65%;

//   img {
//     height: auto; width: 100%;
//     object-fit: cover;
//   }
// }

// // STYLING
// .proj-modal .proj-item {
//   background-color: $dark-shade;
// }

// .proj-modal .proj-id {
//   color: $dark-accent;
//   opacity: 0.7;
//   // -webkit-text-stroke: 1px black; // adds border to font
//   font-family: monospace;
//   font-weight: bold;
//   font-size: 75px;
// }
// .proj-modal .proj-title {
//   color: $light-shade; -webkit-text-stroke: 1px $dark-shade;
//   // font-family: "Questrial", "Roboto", "sans-serif";
//   font-family: monospace;
//   font-size: 60px;
//   font-weight: bold;
//   letter-spacing: 3px;
// }
// .proj-modal .proj-desc {
//   color: $light-shade;
//   // font-family: "Roboto Slab", "serif";
//   font-family: monospace;
//   font-size: 15px;
//   font-style: normal;
//   font-weight: 300;
// }
// .proj-modal .proj-link {
//   background-color: $dark-accent;
//   text-align: center;
//   text-transform: uppercase;
//   font-family: monospace;
//   font-size: 15px;

//   a {
//     text-decoration: none;
//     color: $light-shade;
//     font-weight: bold;
//     letter-spacing: 3px;
//   }
// }
// .proj-modal .proj-img {
//   img {
//     width: auto;
//     -webkit-transform: translate(-50%,-50%);
//         -ms-transform: translate(-50%,-50%);
//             transform: translate(-50%,-50%);
//   }
// }