<!DOCTYPE html>
<html lang="en">
<head>
  <!-- METADATA -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">

  <title>Sydney Broccoli Portfolio</title>

  <!-- STYLESHEET(S) -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
   <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
  <link rel="stylesheet" href="bundle.css">
</head>

<body>

  <%= require('../assets/pages/_header.html') %>

  <section class="hero" id="hero">
    <div id="hero">
      <%= require('../assets/pages/_hero.html') %>
    </div>
  </section>

  <section class="content inactive" id="about">
    <div class="container">
      <h1 class="font-header section-header">ALL ABOUT SYDNEY</h1>
      <%= require('../assets/pages/_about.html') %>
      <br>
      <%= require('../assets/pages/_resume.html') %>
    </div>
  </section>

  <section class="content inactive" id="contact">
    <div class="container container_vt-center">
      <h1 class="font-header section-header">WANT TO TALK?</h1>
      <%= require('../assets/pages/_contact.html') %>
    </div>
  </section>

  <section class="content inactive" id="portfolio">
    <div class="container">
      <h1 class="font-header section-header">PORTFOLIO</h1>
      <%= require('../assets/pages/_portfolio.html') %>
      <br>
      <%= require('../assets/pages/_project-modals.html') %>
    </div>
  </section>

  <%= require('../assets/pages/_footer.html') %>

<!-- PARTICLES CONTAINER -->
<!-- <div id="particles-js"></div> -->

<!-- JAVASCRIPT(S) -->
<script src="bundle.js"></script>
</body>
</html>
