@charset "UTF-8";

// EXTERNAL LINKS
// @import 'https://unpkg.com/primer/build/build.css';
@import "bootstrap/scss/bootstrap";

// INTERNAL LINKS (PARTIALS)
@import '../assets/stylesheets/config/index';
@import '../assets/stylesheets/components/index';

// COMMON SCSS
html,
body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  // background-color: #2c2e43;
  background-color: transparent;
  color: white;
}

.overlay {
  position: relative;
  z-index: 1;
}
