@charset "UTF-8";

// EXTERNAL LINKS
// @import 'https://unpkg.com/primer/build/build.css';
// @import "bootstrap/scss/bootstrap";

// INTERNAL LINKS (PARTIALS)
@import '../assets/stylesheets/config/index';
@import '../assets/stylesheets/components/index';

// COMMON SCSS
html,
body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-color: $light-shade;

  .font-header {
    @include font-header;
   color: $dark-shade;
  }
  .font-body {
    @include font-body;
    color: $dark-shade;
  }
}


.overlay {
  position: relative;
  z-index: 1;
}
